body {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: #FFF9F4;
}

li>a {
    letter-spacing: 2px;
}

.btn-gradient {
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.btn-gradient:hover {
    color: rgba(255, 255, 255, 1);
}